#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
.mets-title {
  font-family: 'Trebuchet MS', sans-serif;
  font-weight: 700;
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
}
.bg-mets-primary {
  /* background-color: rgb(0, 45, 114); */
  /* background: linear-gradient(84deg, #e7b59d, #176ad0); */
   background: linear-gradient(84deg, rgb(9, 68, 156), rgb(0, 45, 114)); 
  /* background-image: url("/relief-navy-blue.avif");
  background-repeat: no-repeat;
    background-size: cover;
    background-position: center; */
  color:white;
  
}

.bg-mets-secondary {
  background-color: #ff5910;
  color: white;
}
.spinner-centered {
  position: relative;
  top: 50%;
  left: 50%;
}