//
// Bring in Bootstrap
//

// Option 1
//
// Import all of Bootstrap's CSS

// @import "bootstrap/scss/bootstrap";

// Option 2
//
// Place variable overrides first, then import just the styles you need. Note that some stylesheets are required no matter what.

// Toggle global options
$enable-gradients: true;
$enable-shadows: true;

$offcanvas-box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175);

// Customize some defaults
$body-color: #333;
$body-bg: #fff;
$border-radius: .4rem;
$success: #7952b3;


$grid-breakpoints: (
    xs: 0,
    sm: 1px,
    md: 2px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px
);
$container-max-widths: (
    xs: 990px,
    sm: 991px,
    md: 992px,
    lg: 100%,
    xl: 100%,
    xxl: 100%
);
// Required
@import "bootstrap/scss/_functions";
@import "bootstrap/scss/_variables";
@import "bootstrap/scss/_variables-dark";
@import "bootstrap/scss/_maps";
@import "bootstrap/scss/_mixins";
@import "bootstrap/scss/_utilities";
@import "bootstrap/scss/_root";
@import "bootstrap/scss/_reboot";

@import "bootstrap/scss/_type";
// @import "bootstrap/scss/_images";
@import "bootstrap/scss/_containers";
@import "bootstrap/scss/_card";
@import "bootstrap/scss/_grid";
// @import "bootstrap/scss/_tables";
// @import "bootstrap/scss/_forms";
@import "bootstrap/scss/_buttons";
@import "bootstrap/scss/_transitions";
@import "bootstrap/scss/_dropdown";
// @import "bootstrap/scss/_button-group";
// @import "bootstrap/scss/_nav";
// @import "bootstrap/scss/_navbar"; // Requires nav


// @import "bootstrap/scss/_breadcrumb";
// @import "bootstrap/scss/_accordion";
// @import "bootstrap/scss/_pagination";
@import "bootstrap/scss/_badge";
// @import "bootstrap/scss/_alert";
// @import "bootstrap/scss/_progress";
// @import "bootstrap/scss/_list-group";
@import "bootstrap/scss/_close";
// @import "bootstrap/scss/_toasts";
@import "bootstrap/scss/_modal"; // Requires transitions
@import "bootstrap/scss/_tooltip";
@import "bootstrap/scss/_popover";
@import "bootstrap/scss/_carousel";
@import "bootstrap/scss/_spinners";
@import "bootstrap/scss/_offcanvas"; // Requires transitions
@import "bootstrap/scss/_placeholders";

// Helpers
@import "bootstrap/scss/_helpers";

// Utilities
@import "bootstrap/scss/utilities/_api";

 @import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
 .container {
     min-width: 992px;
 }
 .card-footer {
     padding: var(--bs-card-cap-padding-y) var(--bs-card-cap-padding-y);
 }